form, input, div
{
    margin: 0;
    padding: 0;
}
.form-container
{
    background-color: white;
    width: 22rem;
    height: 30rem;
    position: absolute;
    right: 18%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    
}
.form-container form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.row
{
    display: flex;
    flex-direction: column;
}
.row input
{
    padding-top: .8rem;
    padding-bottom: .8rem;
    width: 90%;
    margin-left: .7rem;
}
.buttons
{
    display: flex;
    flex-direction: column;
    display: flex;
    gap: 5px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1rem;
}
.buttons button
{
    border: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    font-weight: 900;

}
.buttons button:hover
{
    cursor: pointer;
}
.submit
{
    background-color: rgb(14, 14, 225);
}

.clear
{
    background-color: rgb(239, 9, 9);
}
.row {
    position: relative;
    width: 100%;
}

/* Style for input fields */
.row input[type="text"] {
    width: 90%;
    padding: 10px;
    padding-left: 5px; /* Add padding to make space for the label */
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}
.row input::placeholder
{
    padding-left: 10px;
}
/* Style for labels acting as placeholders */
.row label {
    position: absolute;
    top: 5%;
    left: 10px;
    transform: translateY(-50%);
    background-color: white;
    padding: 0 5px;
    transition: 0.2s;
    color: #999;
    pointer-events: none;
}
.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
    top: 0;
    left: 5px;
    transform: translateY(-50%);
    font-size: 0.8em;
    color: #333;
}

