.home-container
{
    width: 35rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    left: 35%;
    top: 25%;
}